[user]
  name  = Kivanc Yazan
  email = kyzn@cpan.org
[alias]
  a  = add
  aa = add --all
  b  = branch
  c  = commit
  ca = commit --amend
  cm = commit -m
  co = checkout
  d  = diff
  ds = diff --staged
  f  = !git fetch -p && git rebase --autostash origin/$M
  g  = grep
  l  = log --graph --decorate --oneline --name-status
  la = log --graph --decorate --oneline --name-status --all
  p  = push
  pf = push --force-with-lease
  po = push origin --set-upstream
  pl = pull
  rs = reset --soft HEAD^
  s  = status --short --branch
[color]
  branch      = auto
  diff        = auto
  interactive = auto
  status      = auto
[commit]
  verbose     = true
[core]
  editor      = vim
[pull]
  rebase      = true
[push]
  default     = simple
[rebase]
  autostash   = true
