[user]
  name  = Kivanc Yazan
  email = kyzn@cpan.org
[alias]
  a  = add
  aa = add --all
  b  = branch
  c  = commit
  ca = commit --amend
  cm = commit --message
  co = checkout
  d  = diff
  ds = diff --staged
  f  = !git fetch -p && git rebase --ignore-date origin/$M
  g  = grep
  l  = log --graph --decorate --oneline --name-status --show-signature
  la = log --graph --decorate --oneline --name-status --all --show-signature
  p  = push
  pf = push --force-with-lease
  po = push origin --set-upstream
  pl = pull
  rs = reset --soft HEAD^
  s  = status --short --branch
[color]
  branch      = auto
  diff        = auto
  interactive = auto
  status      = auto
[color "grep"]
  linenumber  = yellow bold
  match       = red
  filename    = magenta
[commit]
  #gpgSign     = true
  verbose     = true
[core]
  editor      = vim
  pager       = ~/.config/diff-highlight | less -r
[pull]
  rebase      = true
[push]
  default     = simple
[rebase]
  autostash   = true
#[gpg]
  #program     = gpg2
[format]
  pretty      = fuller
