[alias]
  a  = add
  aa = add --all
  b  = branch
  c  = commit
  ca = commit --amend
  cm = commit --message
  co = checkout
  d  = diff
  ds = diff --staged
  f  = !git fetch -p && git rebase --ignore-date origin/`git ma`
  g  = grep
  l  = log --graph --decorate --oneline --name-status
  la = log --graph --decorate --oneline --name-status --all
  ma = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
  p  = push
  pf = push --force-with-lease
  pl = pull
  po = push origin --set-upstream
  rs = reset --soft HEAD^
  s  = status --short --branch
[color]
  branch        = auto
  diff          = auto
  interactive   = auto
  status        = auto
[color "grep"]
  filename      = magenta
  linenumber    = yellow bold
  match         = red
[commit]
  verbose       = true
[core]
  editor        = vim
[diff]
  colorMoved    = default
[format]
  pretty        = fuller
[init]
  defaultBranch = main
[merge]
  conflictstyle = diff3
[pull]
  rebase        = true
[push]
  default       = simple
[rebase]
  autostash     = true
[rerere]
  enabled       = true
[user]
  email         = kyzn@cpan.org
  name          = Kivanc Yazan